// Padding
$desktopPadding: 0 3rem;
$phonePadding: 0 1rem;

// COLORS
// light
$lightGrey: gray;
$lightPinkCode: #a0459f;
$lightBlueCode: #6196db;
$lightPurpleCode: #6548b8;
$lightRedCode: #bc412e;
$lightSystem: #f7f7f7;

// Dark
$darkGrey: lightgray;
$darkPinkCode: #ee81b0;
$darkBlueCode: #87d8f7;
$darkPurpleCode: #d6bbfa;
$darkRedCode: #ef8876;
$darkSystem: #292a30;

// ANIMATIONS
@keyframes texter {
  from { background-size: 0 200%; }
}

@keyframes blinker {
  50% { background-position: 0 -100%, 0 0; }
}

// BODY
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

// NAVBAR
header {
  padding-bottom: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  gap: 1rem;
}

li {
  text-decoration: none;
}

.mainLink,
.mainLink:active {
  text-decoration: none !important;
}

.link {
  text-decoration: none;
}

.link:hover,
.active {
  text-decoration: underline;
}

// HOME CONTAINER
// Introduction
.introduction {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.codeContainer {
  padding: 1px 0.5rem;
  margin-bottom: 1rem;
}

.profilePic {
  width: 40%;
}

.pinkCode,
.blueCode {
  font-weight: bold;
}

.padding2 {
  padding-left: 2rem;
}

.padding4 {
  padding-left: 4rem;
}

.consoleLog {
  font-weight: 700;
  color: #0000;
}

// MEDIA QUERIES
// WIDTH

// Phone
@media (max-width: 768px) {
  body {
    padding: $phonePadding;
  }
}

// Desktop
@media (min-width: 768px) {
  body {
    padding: $desktopPadding;
  }
}

// COLOR SCHEME

// Light
@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }

  .mainLink,
  .mainLink:active {
    color: $lightGrey !important;
  }

  .link,
  .link:active {
    color: $lightGrey;
  }

  .link:hover,
  .active {
    color: black;
  }

  .codeContainer {
    background-color: $lightSystem;
  }

  .pinkCode {
    color: $lightPinkCode;
  }

  .blueCode {
    color: $lightBlueCode;
  }

  .purpleCode {
    color: $lightPurpleCode;
  }

  .redCode {
    color: $lightRedCode;
  }

  .consoleLog {
    background:
      // Cursor
      linear-gradient(-90deg, $darkGrey 3px, #0000 0) 10px 0,
      // Text
      linear-gradient($lightGrey 0 0) 0 0;
    background-size: calc(var(--characters) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
      blinker 0.7s infinite steps(1),
      texter calc(var(--characters) * 0.1s) steps(var(--characters)) infinite;
  }
}

// Dark
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  .mainLink,
  .mainLink:active {
    color: $darkGrey !important;
    text-decoration: none !important;
  }

  .link,
  .link:active {
    color: $darkGrey;
    text-decoration: none;
  }

  .link:hover,
  .active {
    text-decoration: underline;
    color: white;
  }

  .codeContainer {
    background-color: #292a30;
  }

  .pinkCode {
    color: $darkPinkCode;
  }

  .blueCode {
    color: $darkBlueCode;
  }

  .purpleCode {
    color: $darkPurpleCode;
  }

  .redCode {
    color: $darkRedCode;
  }

  .consoleLog {
    background:
      // Cursor
      linear-gradient(-90deg, $lightGrey 3px, #0000 0) 10px 0,
      // Text
      linear-gradient($darkGrey 0 0) 0 0;
    background-size: calc(var(--characters) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
      blinker 0.7s infinite steps(1),
      texter calc(var(--characters) * 0.1s) steps(var(--characters)) infinite;
  }
}
